<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xroadExtension" type="XRoad.Wcf.XRoadExtensionConfig, XRoad.Wcf" />
  </configSections>
  <system.serviceModel>
    <client>
      <metadata>
        <wsdlImporters>
          <extension type="XRoad.Wcf.XRoadExtension, XRoad.Wcf" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
  <xroadExtension commentLanguage="et" />
</configuration>
